<div class="recherche">
<input type="text" [(ngModel)]="recherche"
placeholder="Rechercher par titre ou auteur..." />
<p>{{ livresFiltres.length }} résultat(s) trouvé(s)</p>
</div>

  <div *ngIf="isLoading" class="spinner">Chargement en cours...</div>
  <div *ngIf="erreur" class="erreur">{{ erreur }}</div>
  <div *ngIf="!isLoading && !erreur" class="liste">
  <!-- votre *ngFor ici -->
  <div *ngFor="let livre of livresFiltres" [ngClass]="{
'carte': true,
'disponible': livre.disponible,
'indisponible': !livre.disponible
}">
  <h3>{{ livre.titre }}</h3>
  <p>{{ livre.auteur }} — {{ livre.annee }}</p>
  <span [class]="livre.disponible ? 'dispo' : 'indispo'" [ngStyle]="{
color: livre.disponible ? 'green' : 'red',
fontWeight: 'bold'
}">>
  {{ livre.disponible ? 'Disponible' : 'Indisponible' }}
  </span>
  <button (click)="voirDetail(livre.id!)">Voir le détail</button>
  <button (click)="modifierDetail(livre.id!)">Modifier</button>
  <button (click)="supprimerLivre(livre.id!)">Supprimer</button>
  </div>
  </div>
